{% extends 'main.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>Document</title>
</head>
<body>
{% block content %}
    <div>
        <h2>My Cart</h2>
            {% csrf_token %}
                {% for cartitem in cartitems %}
        <section>
                No. : {{forloop.counter}}
                <br>
                Product : {{cartitem.product.name}} 
                <br>
                Product Quantity :{{cartitem.quantity}}
                <br>
                Price : {{cartitem.product.price}}
    </div>
                {% endfor %}   
                
                <form action="/checkout">
                    {% csrf_token %}
                      <input type="hidden" name="cart_id" value="{{cart.id}}" id="cart_id" />
                      <button type="submit" class="more-details">Check Out</button>
                
                  </form> 
{% endblock %}
</body>
</html>